USE [master]
GO
/****** Object:  Database [SocialMedia]    Script Date: 26/07/2021 7:43:42 ******/
CREATE DATABASE [SocialMedia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SocialMedia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SocialMedia.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SocialMedia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SocialMedia_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SocialMedia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SocialMedia]
GO
/****** Object:  User [qabruno]    Script Date: 26/07/2021 7:43:42 ******/
CREATE USER [qabruno] FOR LOGIN [qabruno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Comentario]    Script Date: 26/07/2021 7:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comentario](
	[IdComentario] [int] NOT NULL,
	[IdPublicacion] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Comentario] PRIMARY KEY CLUSTERED 
(
	[IdComentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Publicacion]    Script Date: 26/07/2021 7:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Publicacion](
	[IdPublicacion] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Descripcion] [varchar](1000) NOT NULL,
	[Imagen] [varchar](500) NULL,
 CONSTRAINT [PK_Publicacion] PRIMARY KEY CLUSTERED 
(
	[IdPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Seguridad]    Script Date: 26/07/2021 7:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Seguridad](
	[IdSeguridad] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[NombreUsuario] [varchar](100) NOT NULL,
	[Contrasena] [varchar](200) NOT NULL,
	[Rol] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSeguridad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/07/2021 7:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Telefono] [varchar](10) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Comentario] ([IdComentario], [IdPublicacion], [IdUsuario], [Descripcion], [Fecha], [Activo]) VALUES (1, 29, 2, N'Ea vero eius omnis. Tenetur adipisci dolorem magnam iste officia. Et perspiciatis quisquam placeat voluptas et fugit ea ipsa. Aut sunt omnis et. Est aut qui recusandae maxime magnam corrupti officiis. Numquam harum error atque sed assumenda. Eos commodi aperiam natus saepe pariatur cum tempore porro ut...', CAST(0x0000877F000D5A95 AS DateTime), 1)
INSERT [dbo].[Comentario] ([IdComentario], [IdPublicacion], [IdUsuario], [Descripcion], [Fecha], [Activo]) VALUES (2, 24, 13, N'Voluptatem eaque error quis aspernatur ut unde. Nesciunt illum voluptas. Ad dolorum placeat? Soluta fugit itaque. Fugit vel exercitationem. Quia et aut.
Sit expedita eligendi. Natus minus nobis! Nesciunt unde hic. Animi odit consequatur! Sed cupiditate commodi. Sit dolor aut? Voluptatibus ut eius. Reiciendis et qui! Rerum consequuntur dolorem.
Ea alias omnis.', CAST(0x000099BB017A1C65 AS DateTime), 1)
INSERT [dbo].[Comentario] ([IdComentario], [IdPublicacion], [IdUsuario], [Descripcion], [Fecha], [Activo]) VALUES (3, 26, 11, N'Magnam qui iusto. Neque aliquam est aut iure delectus iusto ut facere; excepturi soluta omnis deleniti consequuntur veniam et. Officia sunt nisi aliquam. Sed velit aliquid et! Illo iste nihil? Id laborum ducimus. Voluptatibus voluptatem porro...
Fugit quaerat maxime. Asperiores aut fugiat? Et dolorum debitis! Optio nobis voluptas.
Voluptatem impedit eos.', CAST(0x000086300107ADFE AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Publicacion] ON 

SET IDENTITY_INSERT [dbo].[Publicacion] OFF
SET IDENTITY_INSERT [dbo].[Seguridad] ON 

INSERT [dbo].[Seguridad] ([IdSeguridad], [Usuario], [NombreUsuario], [Contrasena], [Rol]) VALUES (3, N'userAdmin', N'Bruno Laviano', N'10000.38AjCREpdq/CUNjZ+Ihdpg==.BmCgL3aCrtQNO5TJYv3xhsOTBzjamxdQTm2tr+6p7yg=', N'Administrator')
INSERT [dbo].[Seguridad] ([IdSeguridad], [Usuario], [NombreUsuario], [Contrasena], [Rol]) VALUES (4, N'userConsumer', N'Aquiles Laviano', N'10000.0xENS0trXCKTd7UBDgLBvA==.exbmQPsxr511qYkaO8P/xsh0aY3+qy1dl680K7HclSs=', N'Consumer')
INSERT [dbo].[Seguridad] ([IdSeguridad], [Usuario], [NombreUsuario], [Contrasena], [Rol]) VALUES (5, N'userConsumer2', N'Juana Laviano', N'10000.tT/9xH0RT0gZCNDYnch5Tw==.f93amQp7K/LzbZKs4rXpkgwCwqlF+SzLezMaMcqwKts=', N'Consumer')
SET IDENTITY_INSERT [dbo].[Seguridad] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Nombres], [Apellidos], [Email], [FechaNacimiento], [Telefono], [Activo]) VALUES (1, N'Hademar', N'Coleman', N'Ligon@example.com', CAST(0x3BFE0A00 AS Date), N'012-9871', 1)
INSERT [dbo].[Usuario] ([IdUsuario], [Nombres], [Apellidos], [Email], [FechaNacimiento], [Telefono], [Activo]) VALUES (2, N'Reginalda', N'Fife', N'Burrows865@example.com', CAST(0xB4FB0A00 AS Date), N'353-5572', 1)
INSERT [dbo].[Usuario] ([IdUsuario], [Nombres], [Apellidos], [Email], [FechaNacimiento], [Telefono], [Activo]) VALUES (3, N'Lovelle', N'Severson', N'GeorgannSamples457@example.com', CAST(0xFA020B00 AS Date), N'616-9947', 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
ALTER TABLE [dbo].[Comentario]  WITH NOCHECK ADD  CONSTRAINT [FK_Comentario_Publicacion] FOREIGN KEY([IdPublicacion])
REFERENCES [dbo].[Publicacion] ([IdPublicacion])
GO
ALTER TABLE [dbo].[Comentario] CHECK CONSTRAINT [FK_Comentario_Publicacion]
GO
ALTER TABLE [dbo].[Comentario]  WITH NOCHECK ADD  CONSTRAINT [FK_Comentario_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Comentario] CHECK CONSTRAINT [FK_Comentario_Usuario]
GO
ALTER TABLE [dbo].[Publicacion]  WITH NOCHECK ADD  CONSTRAINT [FK_Publicacion_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Publicacion] CHECK CONSTRAINT [FK_Publicacion_Usuario]
GO
USE [master]
GO
